{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block content %}
{% for flashError in app.flashes('reset_password_error') %}
    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
{% endfor %}
<div class="content">
    <div class="row" align="center">
        <div class="col-md-3">
            <div class="card card-user">
                <div class="card-header">
                    <h5 class="card-title">Mot de passe oublié</h5>
                    <i class="nc-icon nc-lock-circle-open" style="font-size:40px"></i>
                </div>
                <div class="card-body">
                    {{ form_start(requestForm) }}
                        {{ form_widget(requestForm.email, {'attr': {'class': 'form-control'}, 'required': true}) }}
                        <div>
                            <small>
                                Entrez l'adresse mail attaché à votre compte afin de recevoir un lien pour réinitialiser votre mot de passe.
                            </small>
                        </div>

                        <button class="btn btn-primary">Envoyer le lien</button>
                    {{ form_end(requestForm) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
