{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block content %}
<div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <div class="col-md-4" style="float:right">
                  <form>
                    <div class="input-group no-border">
                      <input type="text" value="" class="form-control" placeholder="Search..." id="searchsug">
                      <div class="input-group-append">
                        <div class="input-group-text">
                          <i class="nc-icon nc-zoom-split"></i>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <h4 class="card-title">Liste des utilisateurs</h4>
                <p><a href="/admin">Retour</a> / <a href="/register"><i class="nc-icon nc-simple-add"></i> Ajouter un utilisateur</a></p>
              </div>
              <div class="card-body">
                <div class="icons-wrapper">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>
                        Login
                      </th>
                      <th>
                        Nom & prénom
                      </th>
                      <th>
                        Roles
                      </th>
                      <th class="text-right">
                        Status
                      </th>
                      <th class="text-right">
                        Nb con
                      </th>
                      <th class="text-right">
                        Options
                      </th>
                    </thead>
                    <tbody>
                    {% set role = '' %}
                    {% for user in users %}
                    {% if app.user.email != user.email %}
                      <tr>
                        <td>
                          <i class="nc-icon nc-single-02"></i> {{ user.email }}
                        </td>
                        <td>
                          {{ user.name }}
                        </td>
                        <td>
                          {% for roles in user.roles %}
                            {% if roles == 'ROLE_USER' %}
                                Utilisateur
                            {% elseif roles == 'ROLE_ADMIN' %}
                                Administrateur
                            {% endif %}
                          {% endfor %}
                        </td>
                        <td class="text-right">
                          {% if user.status != 1 %}
                          Activé
                          {% else %}
                          <font color=red>Désactivé</font>
                          {% endif %}
                        </td>
                        <td class="text-right">
                          {{ user.nbconnect }}
                        </td>
                        <td class="text-right">
                          <a href="/admin/users/{{ user.id }}"><i class="nc-icon nc-settings-gear-65"></i></a>
                        </td>
                      </tr>
                      {% endif %}
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
<script>
var activepage = "#slidelink5";
</script>
{% endblock %}